<% block("localCSS", "<link rel='stylesheet' href='/lib/flags/flags.css'>") %>

<% var isAdmin = sails.services.rolemanager.userInGroup(session.User, "admin"); %>

<style>
  .row > div {
    padding-left:0;
  }
  .row > div:last-child {
    padding-right:0;
  }
  @media screen and (max-width: 768px) {
    .row > div {
      padding-right:0;
    }
  }
  #user-details td {
    vertical-align:middle;
    text-align:left;
    padding:4px 0;
  }
  #user-details td:first-child {
    padding-right:5px;
  }
  #user-details td:nth-child(2) {
    font-weight:bold;
    padding-right:10px;
    text-align:left;
  }
  #player-power-breakdown table {
    max-width:300px;
    margin:0 auto;
    border:solid 1px #bbbbbb;
    box-shadow:0 0 5px 0 rgba(0,0,0,.15);
  }
  #player-power-breakdown th, #player-power-breakdown td {
    text-align:center;
  }
  #player-power-breakdown th {
    border-bottom:solid 1px #bbbbbb;
  }
  #player-power-breakdown td {
    border-bottom:solid 1px #e7e7e7;
  }
  #player-power-breakdown tr:last-child td {
    border-bottom:none;
  }
  #player-power-breakdown td:nth-child(1),
  #player-power-breakdown td:nth-child(4) {
    min-width:45px;
  }
  #player-power-breakdown td:nth-child(2),
  #player-power-breakdown td:nth-child(5) {
    padding-left:0;
  }
  #player-power-breakdown td:nth-child(3),
  #player-power-breakdown td:nth-child(6) {
    text-align:left;
  }
  #player-power-breakdown td:nth-child(3) {
    border-right:solid 1px #e7e7e7;
  }
  #player-power-breakdown tfoot td {
    text-align:center;
    border-top:solid 1px #bbbbbb;
  }
</style>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <% if (isAdmin){ %><li><a href="/user">User</a></li><% } %>
  <li class="active"><%= user.nickname %></li>
</ol>

<%- partial("../flash.ejs") %>

<div class="row">

  <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
  
		<div class="panel panel-default">
			<div class="panel-heading">
		    <h4 style="display:inline-block">
		      <img class="hidden-lg hidden-md hidden-sm img-responsive img-circle" src="<%= User.getAvatarPath(user.avatar) %>" style="width:auto;height:60px;display:inline-block;margin-right:15px;" />
		      <span style="text-shadow:1px -1px 1px #ffffff;"><%= user.nickname %></span>
		    </h4>
		    <div class="pull-right">
          <% if (user.online){ %>
            <span title="online" class="glyphicon glyphicon-user text-success"></span>
          <% }else{ %>
            <span title="offline" class="glyphicon glyphicon-user text-default"></span>
          <% } %>
        </div>
<!-- 		    <span class="label label-default pull-right"><%- sails.services.rolemanager.getRoleByKey(user.role).label %></span> -->
			</div>
		  <div class="panel-body">
		    <div class="titles-container" style="text-align:right;margin-bottom:15px;">
		      <span class="label label-default"><%- "Member" || sails.services.rolemanager.getRoleByKey(user.role).label %></span>
		      <% _.each(user.captions, function(caption){ %>
		        <span class="label label-info"><%= caption %></span>
		      <% }) %>
		    </div>
		    <table id="user-details">
		      <% if (user.country){ %>
			      <tr>
			        <td><span class="glyphicon glyphicon-globe"></span></td>
			        <td>Country:</td>
			        <td>
			          <span style="vertical-align:middle;"><%- user.country.name %></span>
			          <div class="flag flag-<%- user.country.cca2.toLowerCase() %>" style="display:inline-block;margin-left:5px;vertical-align:middle;" ></div>
		          </td>
			      </tr>
			    <% } %>
		      <% if (user.timezone){ %>
		        <tr>
		          <td><span class="glyphicon glyphicon-time"></span></td>
		          <td>Timezone:</td>
		          <td>
		            <div style="display:inline-block;margin-right:8px;">
		              <span id="user-timezone"><%- user.timezone %></span>
	               </div>
		            <div style="display:inline-block;">
		              <strong>Current time:</strong> <span id="user-actual-time"></span>
	              </div>
              </td>
            </tr>
			    <% } %>
		    </table>
<!-- 			  <strong>email:</strong> <span><%= user.email %></span> -->
		    <% 
		    var canEditProfile = canEditUser || user.id == session.User.id;
		    if (canEditProfile || canEditUser){ %>
		      <hr />
		      <div>
		      <% if (canEditProfile){ %>
		        <a class="btn btn-medium btn-primary" href="/user/profile/<%= user.id %>/edit">Edit profile</a>
		      <% } %>
		      <% if (canEditUser){ %>
		        <a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Edit user</a>
		      <% } %>
		      </div>
		    <% } %>
		  </div>
		</div>
		
	</div>
	
	<div class="col-lg-2 col-md-3 col-sm-4 hidden-xs">
	  <div class="panel panel-default panel-body">
	    <img class="img-thumbnail center-block" src="<%= User.getAvatarPath(user.avatar) %>" />
	  </div>
	</div>
	
</div>

<div class="row">

  <% if (!user.players.length){ %>
  
    <div class="col-lg-12">
      <div class="panel panel-default panel-body">
	      <p class="lead">No players</p>
	      <% if (canEditProfile){ %>
		      <p>Do you want to add one?</p>
		      <a title="Add player" class="btn btn-medium btn-success" href="/user/<%- user.id %>/player/new">
		        <span class="glyphicon glyphicon-plus"></span>
		        <span>Add player</span>
		      </a>
	      <% } %>
      </div>
    </div>
  
  <% }else{ %>
	
		<!-- Nav tabs -->
		<div class="col-lg-12">
		  <ul class="nav nav-tabs bg-default">
		    <% _.each(user.players, function(player){ %>
		      <li <% if (player.id == activePlayerId){ %> class="active" <% } %>>
			      <a href="/user/profile/<%- user.id %>/player/<%- player.id %>" class="player-tab">
			        <% if (player.main === true){ %>
			          <span title="Main player" class="glyphicon glyphicon-star"></span>
		          <% } %>
		          <span><%= player.name %></span>
			      </a>
		      </li>
		    <% }) %>
		  </ul>
		  <!-- Tab panes -->
		  <div class="tab-content">
		  
		    <% var player = _.findWhere(user.players, {id : activePlayerId}); %>
		    
	      <div id="<%= player.id %>" class="tab-pane fade active in">
	        <div class="player-panel panel panel-default panel-body">
	        
	          <div class="row">
	          
	            <div class="col-sm-8 col-xs-12">
			          <div style="margin-bottom:10px;">
			            <div style="display:inline-block;margin:0 10px 5px 0;">
		                <span title="Guild membership" class="glyphicon glyphicon-flag"></span>
		                <% if (player.guild != null){ %>
		                  <span><%- player.guild.name %></span>
		                <% }else{ %>
		                  <i>no guild</i>
		                <% } %>
		              </div>
		              <div style="display:inline-block;margin:0 10px 5px 0;">
		                <% if (player.guildRank != null){ %>
		                  <span title="Guild rank" class="glyphicon glyphicon-bookmark"></span>
		                  <span><%- Player.ranks[player.guildRank].name %></span>
		                <% } %>
		              </div>
		              <div style="display:inline-block;margin:0 0 5x 0;">
		                <i title="Power measure" class="fa fa-shield"></i>
		                <span>Power:</span>
		                <span class="text-success"><strong><%- Math.round(player.power.score) %></strong></span>
		                <a href="#" class="btn-player-power-breakdown" data-toggle="modal" data-target="#player-power-breakdown"
                     data-player_name="<%= player.name %>" data-player_power="<%- _.escape(JSON.stringify(player.power)) %>">
		                  (breakdown)
	                  </a>
		              </div>
			          </div>
			        </div>
			        
			        <div class="col-sm-4 col-xs-12" style="text-align:right;">
			          <% _.each(player.captions, function(caption){ %>
			            <span class="label label-info" style="line-height:22px;"><%= caption %></span>
			          <% }) %>
			        </div>
			        
			      </div>
			      
			      <% if (player.description != ""){ %>
		          <blockquote>
		            <footer><%= player.description %></footer>
		          </blockquote>
		        <% } %>
		        
		        <%- partial("../player/armors.ejs", {data : {
					    player : player,
					    mode   : armorsView,
					    card   : function(playerArmor){
					      return "href='/armor/show/" + playerArmor.armor.id + "'";
					    }
					  }}) %>
		        
		        <% if (canEditProfile || canEditUser){ %>
		          <hr />
		          <a title="Update armors" class="btn btn-medium btn-primary" href="/user/<%- user.id %>/player/editarmors/<%- player.id %>">
                <span>Update armors</span>
              </a>
		          <a title="Edit player" class="btn btn-medium btn-default" href="/user/<%- user.id %>/player/edit/<%- player.id %>">
		            <span class="glyphicon glyphicon-edit"></span>
		            <span class="hidden-xs">Edit player</span>
		          </a>
		          <a title="Delete player" href="#" class="btn-player-delete btn btn-default"
	              data-player_id="<%- player.id %>" data-player_name="<%= player.name %>" data-user_id="<%- user.id %>"
	              data-toggle="modal" data-target="#player-delete-confirm"><i class="glyphicon glyphicon-trash"></i>
	              <span class="hidden-xs">Delete player</span>
              </a>
		        <% } %>
	            
	        </div>
	      </div>
		  </div>
	  </div>
	  
	<% } %>

</div>

<div id="player-delete-confirm" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm</h4>
      </div>
      <div class="modal-body">
        <p>Sure you want to delete player <strong id="player-delete-confirm-name"></strong>?</p>
      </div>
      <div class="modal-footer">
        <form method="POST" class="form-horizontal">
          <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right:5px;">Cancel</button>
          <input type="hidden" name="_method" value="delete" />
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          <button type="submit" class="btn btn-primary" id="player-delete-perform">Yup</button>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="player-power-breakdown" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><i title="Power measure" class="fa fa-shield"></i> Power breakdown</h4>
      </div>
      <div class="modal-body">
        <h4 class="text-primary" id="player-power-breakdown-name"></h4>
        <p>The power measure of a player is calculated by adding attack and defense of his armors.</p>
        <p>Note that only the 3 strongest armors of every different combo of elements will be taken into account.</p>
        <div>
	        <table class="table">
<!-- 	          <thead> -->
<!-- 	            <tr> -->
<!-- 	              <th>group</th> -->
<!-- 	              <th>count</th> -->
<!-- 	              <th>power</th> -->
<!-- 	            </tr> -->
<!-- 	          </thead> -->
	          <tbody></tbody>
	          <tfoot>
	            <tr>
	              <td colspan="6">
                  <span>Total Power:</span>
                  <span id="player-power-breakdown-base">0</span> +
                  <span id="player-power-breakdown-pctg">0</span>% =<br />
                  <h4><strong id="player-power-breakdown-total">0</strong></h4>
                </td>
	            </tr>
	          </tfoot>
	        </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<% block("localScripts", "<script src='/lib/moment/moment.min.js'></script>") %>
<% block("localScripts", "<script src='/lib/moment/moment-timezone.js'></script>") %>
<% block("localScripts", "<script src='/lib/moment/moment-timezone-data.js'></script>") %>
<% block("localScripts", "<script src='/dynamics/user/profile.js'></script>") %>