<style>
  #guild-show .panel-body h4 {
    padding:4px 6px;
    border-bottom:solid 1px #e7e7e7;
  }
  #guild-show .panel-body h4 > span {
    vertical-align:middle;
    margin-right:5px;
  }
  .flag {
    display:inline-block;
    margin-left:2px;
    vertical-align:middle;
  }
  .user-avatar-thumb {
    width:auto;
    height:45px;
  }
  .user-avatar-thumb + .glyphicon-user {
    float:left;
  }
  .player-name-main {
    font-weight:bold;
  }
  #players-filter-case {
    margin-top:30px;
  }
  #players-filter-case > div {
    padding:0;
    padding-left:10px;
  }
  #players-filter-case > div:first-child {
    padding-left:0;
  }
  #players-filter-case select {
    line-height:36px;
  }
  #players-filter-case .bootstrap-select {
    margin-bottom:0;
  }
  @media screen and (max-width: 768px) {
    #players-filter-case > div {
      margin-top:10px;
      padding-left:0;
    }
    #players-filter-case > div:first-child {
      margin-top:0;
    }
  }
  #players-table td, #players-table th {
    vertical-align:middle;
  }
  .footable-row-detail-value .player-tools-case {
    margin-top:5px;
  }
  .player-kick-confirm-opts {
    line-height:25px;
  }
  .player-kick-confirm-opts input[type="radio"] {
    margin-right:5px;
  }
  blockquote.guild-description {
    font-size:14px;
    margin:0;
  }
</style>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>Guild</li>
  <li class="active"><%= guild.name %></li>
</ol>

<%- partial("../flash.ejs") %>
<% var isAdmin = sails.services.rolemanager.userInGroup(session.User, "admin"); %>

<div id="guild-show" class="panel panel-default">
  <div class="panel-heading">
    <h4>
      <span class="glyphicon glyphicon-flag"></span>
      <%= guild.name %>
    </h4>
  </div>
  <div class="panel-body">
    
    <div class="pull-left">
	    <% if (guild.description && guild.description.length){ %>
	      <div>
	        <blockquote class="guild-description">
	          <%- guild.description.replace(/^\s*<br\s*\/?>|<br\s*\/?>\s*$/g, "") %>
	        </blockquote>
        </div>
	    <% }else{ %>
	      <p><i>No description</i></p>
	    <% } %>
    </div>
    
    <% if (isAdmin){ %>
      <a href="/guild/edit/<%- guild.id %>" class="btn btn-primary pull-right">Edit</a>
    <% } %>
    
    <br />
    
    <div style="margin-top:50px;">
    <% if (!guild.players.length){ %>
      <p><i>No players</i></p>
    <% }else{ %>
	    <h4>
	      <span>Players</span>
	      <span class="badge"><%- guild.players.length %></span>
	    </h4>
	    <%
	      var countryGroups = _.groupBy(guild.players, function(player){
	        if (!player.user || !player.user.country) return "_";
	        return player.user.country.cca2;
	      });
	      var unknCountryGroup = countryGroups._;
	      delete countryGroups._; // discard unknown country
	      countryGroups = _.toArray(countryGroups);
	      countryGroups.sort(function(a, b){
	        return b.length - a.length;
	      });
	    %>
	    <div style="overflow:hidden;">
		    <div class="pull-left" style="margin-right:10px;">
		      <strong><%- guild.players.length %></strong> players from <strong><%- countryGroups.length %></strong> different countries:
	      </div>
		    <div class="pull-left">
		      <% _.each(countryGroups, function(countryGroup){
		        var country = countryGroup[0].user.country; %>
		        <div class="flag flag-<%- country.cca2.toLowerCase() %>" style="cursor:pointer;"
		        title="<%- countryGroup.length %> players from <%- country.name %>"
		        data-maketooltip data-toggle="tooltip" data-placement="top"></div>
		      <% }) %>
		    </div>
	    </div>
	    
	    <div id="players-filter-case" class="row">
	      <div id="player-name-filter-case" class="col-xs-12 col-sm-4">
	        <div class="input-group">
	          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
	          <input type="text" class="form-control" placeholder="Search by name" id="players-name-filter">
	        </div>
	      </div>
	      <div class="col-xs-12 col-sm-4">
	        <%- partial("../components/rank-selector.ejs", {data : {
            id      : "players-rank-filter",
            noneOpt : "Filter by rank..."
          }}) %>
	      </div>
	      <!-- Filters -->
	    </div>
	    
	    <hr />
	    
	    <div>
	      <table id="players-table" class="footable table table-hover toggle-square-filled" data-page-size="10">
		      <thead>
		        <tr>
		          <th data-sort-ignore="true" data-name="avatar">&nbsp;</th>
		          <th data-name="name" data-toggle="true">Nick</th>
		          <th data-name="online">&nbsp;</th>
		          <th data-name="power" data-sort-initial="descending">Power</th>
		          <th data-name="rank" data-hide="phone">Rank</th>
		          <th data-name="who is" data-hide="all">&nbsp;</th>
		          <th data-name="country" data-hide="phone">Country</th>
		          <th data-name="time" data-hide="phone,tablet">Time</th>
		          <th data-name="labels" data-hide="all">Labels</th>
		          <th data-sort-ignore="true" data-class="player-tools"
		          <% if (!isAdmin){ %> data-ignore="true" data-hide="all" <% }else{ %> data-hide="phone" <% } %>>
		            &nbsp;
	            </th>
		        </tr>
		      </thead>
		      <tbody>
		      <% _.each(guild.players, function(player){ %>
		        <tr data-id="<%- player.id %>" data-model="player">
		          <td style="width:30px;padding:5px;">
		            <% if (player.user){ %>
		              <img class="img-circle user-avatar-thumb <%- player.user.online ? 'online' : 'offline' %>" src="<%= User.getAvatarPath(player.user.avatar) %>">
	              <% } %>
		          </td>
		          <td>
		            <a href="<%- player.user ? ('/user/profile/' + player.user.id + '/player/' + player.id) : '/player/show/' + player.id %>"
		            title="View <%= player.name %>"
		            <% if (player.main === true){ %> class="player-name-main" <% } %>>
		              <%= player.name %>
	              </a>
		          </td>
		          <td data-value="<%- player.user && player.user.online ? 'online' : 'offline' %>">
		            <% if (player.user && player.user.online){ %>
		              <span title="online" class="glyphicon glyphicon-user text-success"></span>
		            <% }else{ %>
		              <span title="offline" class="glyphicon glyphicon-user text-default"></span>
		            <% } %>
		          </td>
		          <td><%- Math.round(player.power.score) %></td>
		          <td data-value="<%- player.guildRank %>">
		            <%- (function(){
		              var rank = Player.ranks[player.guildRank];
		              if (!rank) return "<i>unkn</i>";
		              return "<span class='label label-default'>" + rank.name + "</span>";
		            })() %>
		          </td>
		          <td><%- (function(){
		            if (!player.user) return "Main player (no bound user)";
		            var userLink = "<a href='/user/profile/" + player.user.id + "'>" + player.user.nickname + "</a>";
		            if (player.main === true) return "Main player of " + userLink;
		            return "Secondary player of " + userLink;
	            })() %></td>
		          <td>
		            <% if (player.user && player.user.country){
		              var country = player.user.country; %>
		              <div class="flag flag-<%- country.cca2.toLowerCase() %>"></div>
		              <span style="vertical-align:middle;"><%- country.name %></span>
		            <% }else{ %>
		              <i>unkn</i>
		            <% } %>
		          </td>
		          <td>
		            <span class="player-current-time"
	              <% if (player.user && player.user.timezone){ %> data-timezone="<%- player.user.timezone %>" <% } %>>
	              </span>
	            </td>
		          <td><%
		            if (!player.captions.length){ %>
		              <i>none</i>
		            <% }else{
		              _.each(player.captions, function(caption){ %>
		                <span class="label label-info"><%= caption %></span>
		              <% })
		            } %>
		          </td>
		          <td style="width:30px;">
		            <div class="player-tools-case">
		              <button title="Kick from guild" type="button"
		              class="btn-player-kick btn btn-default btn-sm"
		              data-toggle="modal" data-target="#player-kick-confirm"
		              data-player_id="<%- player.id %>" data-player_name="<%= player.name %>"
		              data-guild_id="<%- guild.id %>" data-guild_name="<%= guild.name %>"
		              <% if (player.user){ %> data-user_id="<%- player.user.id %>" data-user_nickname="<%= player.user.nickname %>" <% } %>>
		                <i class="glyphicon glyphicon-trash"></i>
		              </button>
		            </div>
		          </td>
		        </tr>
		      <% }) %>
		        <tfoot style="display:none;">
		          <tr>
		            <td colspan="8" class="text-center">
		              <ul class="pagination pagination-centered hide-if-no-paging"></ul>
		            </td>
		          </tr>
		        </tfoot>
		      </tbody>
		    </table>
	    </div>
	  <% } %>
	    
    </div>
	    
    
  </div><!-- /panel-body -->
</div>

<div id="player-kick-confirm" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          Kick from
          <span class="dialog-guild-name text-primary"></strong>
        </h4>
      </div>
      <div class="modal-body">
        <div class="player-kick-confirm-opts">
         <p>What do you want to do?</p>
         <div>
          <input type="radio" name="player-kick-opt" value="player-kick" />
            Kick <strong class="dialog-player-name"></strong> from guild<br />
          <input type="radio" name="player-kick-opt" value="user-delete-players-kick" />
            Delete user <strong class="dialog-user-nickname"></strong> and kick his players from guild<br />
          <input type="radio" name="player-kick-opt" value="user-delete-players-delete" />
            Delete user <strong class="dialog-user-nickname"></strong> and also his players<br />
         </div>
        </div>
        <div class="player-kick-confirm-single" style="display:none;">
          <p>Sure you want to kick <strong class="dialog-player-name"></strong>?</p>
        </div>
        <form id="kick-player-form" method="POST">
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          <input name="playerId" type="hidden" />
          <input name="userId" type="hidden" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right:5px;">Cancel</button>
        <button type="submit" class="btn btn-primary" form="kick-player-form">Proceed</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<% block("localCSS", "<link rel='stylesheet' href='/lib/flags/flags.css'>") %>
<% block("localCSS", "<link rel='stylesheet' href='/lib/footable/footable-core.css'>") %>
<% block("localCSS", "<link rel='stylesheet' href='/lib/bootstrap-select/bootstrap-select.min.css'>") %>

<% block("localScripts", "<script src='/lib/footable/footable.core.js'></script>") %>
<% block("localScripts", "<script src='/lib/footable/footable.filter.js'></script>") %>
<% block("localScripts", "<script src='/lib/footable/footable.sort.min.js'></script>") %>
<% block("localScripts", "<script src='/lib/bootstrap-select/bootstrap-select.min.js'></script>") %>
<% block("localScripts", "<script src='/lib/moment/moment.min.js'></script>") %>
<% block("localScripts", "<script src='/lib/moment/moment-timezone.js'></script>") %>
<% block("localScripts", "<script src='/lib/moment/moment-timezone-data.js'></script>") %>
<% block("localScripts", "<script src='/dynamics/guild/show.js'></script>") %>